.span-1 {
  width: 30px;
  margin-right: 10px; }

.span-2 {
  width: 70px;
  margin-right: 10px; }

.span-3 {
  width: 110px;
  margin-right: 10px; }

.span-4 {
  width: 150px;
  margin-right: 10px; }

.span-5 {
  width: 190px;
  margin-right: 10px; }

.span-6 {
  width: 230px;
  margin-right: 10px; }

.span-7 {
  width: 270px;
  margin-right: 10px; }

.span-8 {
  width: 310px;
  margin-right: 10px; }

.span-9 {
  width: 350px;
  margin-right: 10px; }

.span-10 {
  width: 390px;
  margin-right: 10px; }

.span-11 {
  width: 430px;
  margin-right: 10px; }

.span-12 {
  width: 470px;
  margin-right: 10px; }

.span-13 {
  width: 510px;
  margin-right: 10px; }

.span-14 {
  width: 550px;
  margin-right: 10px; }

.span-15 {
  width: 590px;
  margin-right: 10px; }

.span-16 {
  width: 630px;
  margin-right: 10px; }

.span-17 {
  width: 670px;
  margin-right: 10px; }

.span-18 {
  width: 710px;
  margin-right: 10px; }

.span-19 {
  width: 750px;
  margin-right: 10px; }

.span-20 {
  width: 790px;
  margin-right: 10px; }

.span-21 {
  width: 830px;
  margin-right: 10px; }

.span-22 {
  width: 870px;
  margin-right: 10px; }

.span-23 {
  width: 910px;
  margin-right: 10px; }

.span-24 {
  width: 950px;
  margin-right: 0px; }
