html{
  background:#aa5c16 url(woodBG.png) fixed;
}
body{
  background:#ddd  url(lightNoise.png);
  margin:0 auto;
  width:70%;
  max-width:780px;
  padding:1em 1em 2em;
  font-family:"helvetica nueue", helvetica, arial, sans-serif;
}
body>h1{  
  color:#665ecd;
  text-shadow:  #333 -1px -1px 0,
                #fff 1px 1px 0;
  background:#ebea86 url(lightNoise.png);
  margin-left:-2em;
  padding:.5em 1em .25em;
  border-radius:3px;
  box-shadow:1px 1px 6px rgba(0,0,51,.3),
              inset 1px 1px 0 rgba(255,255,255,.5);
  em{
    text-shadow: #999 1px 1px 0;
    color:#fff;
  }
}
h1{
  font-family: 'Vast Shadow', cursive;
  font-family: 'Raleway', cursive;
  font-family: 'Carter One', cursive;
  font-family: 'Slackey', cursive;
  em{
    font-family: 'Raleway', cursive;
    font-family: 'Aguafina Script', cursive;
    font-size:1.2em;
    font-style:normal;
  }
}
h2{
  color:#bc0a0a;
}
h2,h3,h4,h5{
  font-family: 'Slackey', cursive;
  border-bottom:1px solid #333;
}
.chord{
  width:120px;
  background:#fff;
  margin-left:60px;
  position:relative;
  display:inline-block;
  margin-bottom:2em;
   border-radius: 3px 3px 0px 0px;
   font-size:.8em;
  h1{
    text-align:center; 
    background:#aaa  url(lightNoise.png);
    margin:0;
    border-bottom:1px solid #000;
    border-radius: 3px 3px 0px 0px;
    color:#665ecd;
    text-shadow:  #444 -1px -1px 0,
                  #ccc 1px 1px 0;
  }
  ol{
    list-style:none;
    margin:0;
    padding:0;
    background:url(fretsAndStrings.png);
  }
  li{
    margin:0;
    padding:0;
    width:20px; 
    display:block;
    float:left;
    text-align:center;
    padding-top:119px;
    background:url(fingerSprite.png) 0 0 no-repeat;
    margin-bottom:-20px;
  }
  .offset{
    display:block;
    position:absolute;
    left:-20px;
  }
}
.chord li.open{background-image:none;}
.chord li:last-child{border-right:none;}
@function fingerOffset($finger){
  @return $finger * (-20px);
}
@function fretOffset($fret){
  @return $fret * 20px - 20px;
}
@for $finger from 1 to 5{
  @for $fret from 1 to 6{
    .finger#{$finger}.fret#{$fret}{
      background-position: fingerOffset($finger) fretOffset($fret);
    }
  }
}
.clearfix:after, .chord ol:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
